.chahuo{
    padding: 0 15px;

    .chuhuodan{
        margin-top: 20px;
        display: flex;
        height: 44px;
        .chuhuoTetx{
            line-height: 44px;
            padding-left: 14px;
            background-color: white;
            font-size: 17px;
        }
    }
    .chuhuodan div:nth-child(2){
        flex: 1;
    }
}